@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
html,body{
	padding:0;
	margin:0;
}
canvas{
  display:block;
  vertical-align:bottom;
}
h1{
	font-family:Roboto,sans-serif;
	font-size:50px;
	font-weight:bold;
	color:#fff;
	vertical-align:middle;
	padding:100px;
	margin:0;
}
.navbar.navbar-inverse {
	background: transparent;
	/*background:rgba(63, 81, 181, 0.2) !important;*/
}
.container{
	margin:0;
	padding:0;
	width:100%;
}
.intro,.about,.services,.contact,.videos{
	width:100%;
	height:100%;
	overflow:hidden;
}
.intro{
	margin:0;
	background: url(../img/intro.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	text-align:center;
}
.intro h1{
	padding-top: 100px;
	padding-bottom: 50px;
	font-size: 60px;
}

h1 span {
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
}
.intro a{
	color:#fff;
	font-size:24px;
}
.intro .social{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	padding:20px;
}
.intro .social span i{
	width:60px !important;
	height:60px !important;
	line-height:40px;
	font-size:40px;
	border:1px solid #fff;
	border-radius:50px;
	padding:10px;
	margin:10px;
	transition:0.2s linear all;
}
.intro .social span i:hover{
	background:#fff;
	color:#000;
}
.intro_img_left{
	float:left;
}
.intro_img_right{
	float:right;
}
.intro_img_left,.intro_img_right{
	width:250px;
	height:250px;
	margin:50px;
}
.about{
	background: url(../img/about.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	text-align:left;
}
.about h1{
	text-align:center;
}
#about_content{
	padding:20px;
	font-size:22px;
	font-weight:bold;
	color:#fff;
	word-wrap:break-word;
}
#particles-js{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
#particles-js canvas{
	margin-top:-240px !important;
}
.navbar .navbar-nav {
    display: inline-block !important;
    float: none !important;
}
.navbar .navbar-nav li{
	margin:0 15px;
}
.navbar .navbar-collapse {
    text-align: center !important;
}
.services{
	background: url(../img/services.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	text-align:left;
}
.services h1{
	text-align:Center;
}
.services p{
	font-size:24px;
	color:#fff;
	padding:20px;
}
.alert.alert-blue {
    background-color: #0D47A1;
    color: rgba(255,255,255,.84);
}
.alert.alert-yellow {
    background-color: #FFEB3B;
    color: rgba(255,255,255,.84);
}
.alert.alert-orange {
    background-color: #FF9800;
    color: rgba(255,255,255,.84);
}
.center{
	text-align:center;
}
.contact{
	background: url(../img/contact.jpg) no-repeat fixed 50% 50%;
	background-size: cover;
	text-align:left;
}
.contact h1{
	text-align:Center;
}
input, textarea, select{
	color:#fff !important;
}
.clearfix{
	clear:both;
}
.videos{
	background: url(../img/video.jpg) no-repeat fixed 50% 50%;
	background-size: 100% 100%;
	text-align:center;
}
.videos iframe{
	padding:100px;
	width:700px;
	height:700px;
}
@media(max-width:1280px){
	.videos iframe{
		padding:100px;
		width:1000px;
		height:700px;
	}
}
@media(max-width:720px){
	.videos iframe{
		padding:50px;
		width:650px;
		height:500px;
	}
}
@media(max-width:480px){
	.intro h1{
		padding-top: 100px;
	}
	.intro img{
		display:none;
	}
	.videos iframe{
		padding:0;
		width:100%;
		height:100%;
	}
}

/* For ensuring that cards from the service section get split into multiple
lines for smaller screens */
@media only screen and (max-width : 767px) {
	.box {
		height: auto !important;
	}
}